
<div class="row">
  <div class="col-md-8">
    Userzy: {{userzy}}
    <ul>
      <li *ngFor="let u of userzy"> user: {{u}}</li>
    </ul>
  </div>
  <div class="col-md-4">
    Prawa czesc
    <div class="card">
      <div class="card-header h5 bg-dark">
        Dane kontaktowe
      </div>
      <div class="card-body bg-dark">
        Adres: {{adres}},{{houseNumber + houseNumber}} <br/> {{x}}
      </div>
      <div class="card-footer bg-dark text-center">
        <button class="btn btn-outline-warning" (click)="mojaAkcja()">Click here!</button>
      </div>
    </div>








  </div>

</div>
